* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
}

  
  
  h1 {
    color: SeaGreen;
  }
  
  
  p, 
  li {
    font-size: 18px;
  }




img {
    display: block;
    max-width: 100%;
}


menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}


html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}
